@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
/* POLICES 
Outfit
Roboto Flex
Playfair Display SC */

#header{
    background:#005293;
    padding:10px;
}

h1{
    font-family:'Outfit',sans-serif;
    font-size:7em;
    color:#fecb00;
    line-height:0;
    text-align:left;
    margin:50px 0px 45px 20px;
    letter-spacing:3px;
    text-transform:lowercase;

}

.subtitle{
    font-family:'Playfair Display SC',serif;
    font-style:italic;
    color:#fff;
    margin:0px 0px 0px 50px;
    font-size:1em;
}

.products-display{
    display:flex;
    flex-direction:row;
    gap:1em;
    flex-wrap:wrap;
    justify-content:justify;
    align-items:justify;
}

.product-card{
    width:30%;
    padding:10px;
    border-bottom: solid 5px #005293;
}

#footer{
    background:#005293;
    padding:10px;
}