@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
/* POLICES 
Outfit
Roboto Flex
Playfair Display SC */

h1{
    font-family:'Outfit',sans-serif;
}

.subtitle{
    font-family:'Playfair Display SC',serif;
}